@charset "utf-8";

@font-face{
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}
:root{

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
}
.projeto{
    padding-top: 180px;
}
.projeto-title{
    font-family: Android,cursive;
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 3rem;

}

.projeto-diferente{
    color: rgb(0, 247, 255);
}
.projeto-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right:50px;
}

.projeto-div > a > img {
    margin: 0 0 30px 100px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.projeto-div > a > img:hover{
    width:  320px;
    height: 320px;
}  
@media screen and (max-width:400px){
    .projeto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}
