@charset "utf-8";

@font-face{
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root{

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
}
.sobre{
    margin-bottom: 5rem;
}

.sobre-foto{
    width: 410px;
    border-radius: 20px;
    left: 1.5%;
    position: absolute;
}

.sobre-title{ 
    font-family: var(--fonte-android);
    font-size: 50px;
    color: white;  
    text-align: center;
    margin-bottom: 3rem;

}
.sobre-diferente{
    color:  rgb(0, 247, 255);
}
.sobre-paragrafo{
    font-family: var(--fonte-padrao);
    font-size: 30px;
    color: white;
    text-align: justify;
    margin: 0 3% 0 50%;
    line-height: 45px;

 }
 @media screen and (max-width:850px){
    .sobre-title{
        font-size: 40px;
    }
    .sobre-foto{
        width: 95vw;
    }
    .sobre-paragrafo{
        margin: 80% 2% 0 3%;
    }
 }