@charset "utf-8";

@font-face{
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root{

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-android: 'Android', cursive;
}
body{
    background-color: rgb(29, 30, 34);
}
 header{
    background: linear-gradient(to top, rgb(19, 24, 27), rgba(19, 21, 22, 0.925));
    padding: 44px; 
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 1000;
}
.cabecalho-titulo{
    font-family: var(--fonte-android);
    color: white;
    text-align: center;
    font-size: 40px;
}
.cabecalho-portifolio{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 30px;
}
.cabecalho-diferente{
    font-family: var(--fonte-padrao);
    color: rgb(0, 247, 255);
    font-size: 30px;
}
.conteudo {
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.aparecer {
    animation: aparecer 1s forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.menu-icon {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    right: 62px; 

}
.menu-itens{
   display: none;
   position: absolute; 
   top: 13px; 
   right: 119px; 
   flex-direction: column;
   background-color: black;
}
.menu-li{
    margin-bottom: 5px;

}
.menu-link{
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.menu-link:hover{
    color: rgb(0, 247, 255);
}


.rodape{
    background-color:rgb(19, 24, 27);
    padding: 10px; 
    width: 90%;
    bottom: 0;
 
}

.rodape-title{
    font-family: var(--fonte-padrao);
    font-size: 30px;
    text-align: center;
    color: white;
   
}

.rodape-nav{
    display: flex;
    justify-content: center;
   
}
.rodape-nav-item{

    margin-left: 25px;
    margin-top: 8px;

}

@media  (max-width:480px){
    .cabecalho-titulo{
        margin-top: 1rem;
    }
}

@media (min-width:768px){
    .menu-icon{
        display: none;
        position: fixed; 
   
        
    }
    .menu-itens{
        display: flex;
        flex-direction: row;
        top: inherit;
        background-color: rgb(19, 24, 27);
    }
    .menu-li{
        margin-left: 15px;
    }

    
}


